button{
  padding: 20px;
  font-size: 30px;
  border-radius: 7px;
  border: solid #e65c4f;
  background-color: #e65c4f;
  margin: 0 auto;
  width: 200px;
  height: 100px;
  color: #eaeff3;
}

.img{
  width: 60px;
  height: 60px;
  background-color: #e65c4f;
  color: #e65c4f;
}

body{
  background-color: #33678a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    height: 500px;
    margin: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

#results{
  display: flex;
  justify-content: space-around;
}

#cmp_score, #ply_score{
  width: 100px;
  height: 100px;
  background-color: #78a6c9;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #eaeff3;
}

#final_r{
  width: 300px;
  height: 100px;
  color: #eaeff3;
  background-color: #78a6c9;
  margin: 0 auto;
  margin-top: 270px;
  margin-bottom: -270px;
  border-radius: 7px;
  font-size:  40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}